.row
  .col
    %h2.mb-5 Log in
.row.align-items-start
  .col-4
    = render "devise/shared/links"

  .col-8
    = bootstrap_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      = f.email_field :email, hide_label: true, autofocus: true, autocomplete: 'email', placeholder: 'Enter email address'
      = f.password_field :password, hide_label: true, autocomplete: 'off', placeholder: 'Enter your password'

      .form-group
        %button.btn.btn-primary.btn-log.btn-block
          Login
