// Tokens
$colors-primary: #1B676B;
$colors-alt: #88C425;
$colors-light: #EAFDE6;
$colors-red: #CC8400;

// Design Decisions
$background: $colors-primary;

// Bootstrap Design Decisions
$primary: $colors-primary;
$danger: $colors-red;

//$list-group-bg: darken($colors-primary, 10%);

//$font-family-base: 'Fira Mono', monospace;
